<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Sitecore.RestSharp>
      <service name="mediaframework_vimeo" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        <baseUrl>https://api.vimeo.com</baseUrl>

        <jsonSerializer type="Sitecore.RestSharp.Serialization.JsonNetSerializer, Sitecore.RestSharp">
          <contentType>application/x-www-form-urlencoded</contentType>
        </jsonSerializer>


        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/x-json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/javascript" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="*+json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="application/vnd.vimeo.video+json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>

        <headers hint="raw:AddHeader">
          <header name="Content-Type" value="application/x-www-form-urlencoded"/>
        </headers>
      
        <parameters hint="raw:AddParameterReplacer">
          <add name="page" type="Sitecore.RestSharp.Parameters.DymamicParameterReplacerWithEmptyChecking, Sitecore.RestSharp"/>
        </parameters>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">
            <read name="read_videos"
                 url="/me/videos?method=GET&amp;endpoint=%2Fme%2Fvideos&amp;parameters=%7B%22page%22%3A%22{page}%22%7D&amp;app_id={appId}&amp;authenticated=true&amp;token={token}"/>
              
          </requests>
        </requestProvider>

      </service>
    </Sitecore.RestSharp>
  </sitecore>
</configuration>