<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="mediaFramework:ManualImport:Vimeo" type="Sitecore.MediaFramework.Commands.ImportContent,Sitecore.MediaFramework"/>
      <!--<command name="mediaFramework:ManualCleanup:Vimeo" type="Sitecore.MediaFramework.Commands.CleanupContent,Sitecore.MediaFramework"/>-->
    </commands>

    <mediaFramework>
      <synchronizers>
        <add name="vimeo_video"
             entity="Sitecore.MediaFramework.Vimeo.Entities.Video, Sitecore.MediaFramework.Vimeo"
             templateId="{27831ED7-10E5-493A-8A1D-2DF633C705B2}"
             type="Sitecore.MediaFramework.Vimeo.Synchronize.VideoSynchronizer, Sitecore.MediaFramework.Vimeo">
          <entityCreator type="Sitecore.MediaFramework.Vimeo.Synchronize.EntityCreators.VideoEntityCreator, Sitecore.MediaFramework.Vimeo" />
          <databaseFallback type="Sitecore.MediaFramework.Vimeo.Synchronize.Fallback.VideoFallback, Sitecore.MediaFramework.Vimeo" />
        </add>
      </synchronizers>

      <mediaImport>
        <importExecuters>
          <add name="import_vimeo_videos" type="Sitecore.MediaFramework.Vimeo.Import.VideoCollectionImporter, Sitecore.MediaFramework.Vimeo"/>
        </importExecuters>
      </mediaImport>

      <scopeExecuteConfigurations>
        <add name="import_vimeo_videos" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{DB13829B-6062-466F-9161-91B61A4F9820}</accountTemplate>
          <scope hint="list">
            <name>import_vimeo_videos</name>
          </scope>
        </add>

        <add name="import_vimeo_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{DB13829B-6062-466F-9161-91B61A4F9820}</accountTemplate>
          <scope hint="list">
            <name>import_vimeo_videos</name>
          </scope>
        </add>
      </scopeExecuteConfigurations>
    </mediaFramework>
  </sitecore>
</configuration>